In [10]:
Домашнее задание 2 (5 баллов).
Все задания ниже имеют равный вес (5/16).
Описание данных
В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории: * Students_info_i - информация о студентах из группы i * Students_marks_i - оценки студентов из группы i за экзамены
Одно из важных достоинств pandas  это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

SyntaxError: invalid syntax (3681811623.py, line 1)

In [ ]:
Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.

In [105]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
Students_list = []
Marks_list = []
for i in range(10):
    Students = pd.read_csv("C:/Users/Геворк/AppData/Local/Temp/Temp1_Data.zip/Data/Students_info_" + str(i) + ".csv", sep = ',')
    Students_list.append(Students)
for k in range(10):
    Marks = pd.read_csv("C:/Users/Геворк/AppData/Local\Temp\Temp1_Data.zip/Data/Students_marks_" + str(k) + ".csv", sep = ',')
    Marks_list.append(Marks)
df_Students = pd.concat(Students_list)
df_Marks = pd.concat(Marks_list) # Соединили по строкам отдельно студентов и отдельно оценки, у concat axis = 0 по умолчанию.
df = pd.merge(df_Students, df_Marks, how = 'left') # Соединили по столбцам, совместив по колонке индексов
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

In [ ]:
Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [106]:
df = df.drop('index', axis=1)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

In [ ]:
Задание 3. Выведите на экран размеры полученной таблицы

In [107]:
df.shape

(1000, 9)

In [ ]:
Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [108]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [109]:
if df.isnull().values.any() == False:
    print('Пропущенных значений нет')
else:
    print('Есть пропущенные значения')

Пропущенных значений нет

In [ ]:
Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [120]:
disciplines = ["math score", "reading score", "writing score"]
print('Средние значения по каждому предмету соответствуют:')
df[disciplines].mean()

Средние значения по каждому предмету соответствуют:

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [ ]:
Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [131]:
print('Средний балл студентов, сгруппированных по прохождению курса, по math \n', df.groupby("test preparation course")["math score"].mean())
print('Средний балл студентов, сгруппированных по прохождению курса, по reading \n', df.groupby("test preparation course")["reading score"].mean())
print('Средний балл студентов, сгруппированных по прохождению курса, по writing \n', df.groupby("test preparation course")["writing score"].mean())

Средний балл студентов, сгруппированных по прохождению курса, по math
 test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64
Средний балл студентов, сгруппированных по прохождению курса, по reading
 test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64
Средний балл студентов, сгруппированных по прохождению курса, по writing
 test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

In [ ]:
Задание 8. Выведите на экран все различные значения из столбца lunch.

In [136]:
print(*list(set(df["lunch"])), sep = ', ')

free/reduced, standard

In [ ]:
Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename

In [144]:
df.rename(columns = {"parental level of education": "education", "test preparation course": "test preparation"})

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

In [ ]:
Зафиксируем минимальный балл для сдачи экзамена

In [201]:
passmark = 50

In [ ]:
Задание 10. Ответьте на вопросы: * Какая доля студентов сдала экзамен по математике (passmark >= 50)? * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике? * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [272]:
print(np.sum(df["math score"] >= 50)/1000, "- доля студентов, сдавших экзамен по математике")
print(((df["test preparation course"] == "completed") & (df["math score"] >= 50)).sum()/1000, "- доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике")
print(((df["math score"] < 50) & (df["gender"] == "female") & (df["test preparation course"] == "none")).sum()/1000, "- доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике")

0.865 - доля студентов, сдавших экзамен по математике
0.33 - доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике
0.07 - доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике

In [ ]:
Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий. * Для каждой этнической группы выведите средний балл за экзамен по чтению * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [171]:
%%time
print("Средний балл за экзамен по чтению для каждой этнической группы \n", df.groupby('race/ethnicity')['reading score'].mean())

Средний балл за экзамен по чтению для каждой этнической группы
 race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
CPU times: total: 0 ns
Wall time: 3.14 ms

In [173]:
%%time
print("Минимальный балл за экзамен по письму для каждого уровня образования \n", df.groupby('parental level of education')['writing score'].min())

Минимальный балл за экзамен по письму для каждого уровня образования
 parental level of education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
CPU times: total: 0 ns
Wall time: 3 ms

In [ ]:
Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.

In [195]:
%%time
Groups_of_ethnicity = ['group A', 'group B', 'group C', 'group D', 'group E']
for group in Groups_of_ethnicity:
    print('Среднее значение по', group, "=", df[df['race/ethnicity']==group]['reading score'].mean())

Среднее значение по group A = 64.67415730337079
Среднее значение по group B = 67.35263157894737
Среднее значение по group C = 69.10344827586206
Среднее значение по group D = 70.03053435114504
Среднее значение по group E = 73.02857142857142
CPU times: total: 15.6 ms
Wall time: 10 ms

In [181]:
%%time
Education_levels = ["associate's degree", "bachelor's degree", "high school", "master's degree", "some college", "some high school"]
for education in Education_levels:
    print("Среднее значение по", education, "=", df[df['parental level of education'] == education]['writing score'].min())
print('По циклам затрачено больше времени на выполнение того же задания')

Среднее значение по associate's degree = 35
Среднее значение по bachelor's degree = 38
Среднее значение по high school = 15
Среднее значение по master's degree = 46
Среднее значение по some college = 19
Среднее значение по some high school = 10
По циклам затрачено больше времени на выполнение того же задания
CPU times: total: 15.6 ms
Wall time: 12.4 ms

In [ ]:
Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.

In [199]:
grouped = pd.pivot_table(df, index = ["gender", 'parental level of education'], aggfunc = {"math score": np.mean, "reading score": np.mean, "writing score": np.mean})
grouped

                                    math score  reading score  writing score
gender parental level of education
female associate's degree            65.250000      74.120690      74.000000
       bachelor's degree             68.349206      77.285714      78.380952
       high school                   59.351064      68.202128      66.691489
       master's degree               66.500000      76.805556      77.638889
       some college                  65.406780      73.550847      74.050847
       some high school              59.296703      69.109890      68.285714
male   associate's degree            70.764151      67.433962      65.405660
       bachelor's degree             70.581818      68.090909      67.654545
       high school                   64.705882      61.480392      58.539216
       master's degree               74.826087      73.130435      72.608696
       some college                  69.009259      64.990741      63.148148
       some high school              67.840909      64.693182      61.375000

In [ ]:
Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [274]:
df["Math_PassStatus"] = df["math score"].apply(lambda mark: "F" if mark < passmark else "P")
print("Количество студентов, сдавших и не сдавших экзамен по математике: \n", df.Math_PassStatus.value_counts())
df["Reading_PassStatus"] = df["reading score"].apply(lambda mark: "F" if mark < passmark else "P")
print("Количество студентов, сдавших и не сдавших экзамен по чтению: \n", df.Reading_PassStatus.value_counts())
df["Writing_PassStatus"] = df["writing score"].apply(lambda mark: "F" if mark < passmark else "P")
print("Количество студентов, сдавших и не сдавших экзамен по письму: \n", df.Writing_PassStatus.value_counts())

Количество студентов, сдавших и не сдавших экзамен по математике:
 P    865
F    135
Name: Math_PassStatus, dtype: int64
Количество студентов, сдавших и не сдавших экзамен по чтению:
 P    910
F     90
Name: Reading_PassStatus, dtype: int64
Количество студентов, сдавших и не сдавших экзамен по письму:
 P    886
F    114
Name: Writing_PassStatus, dtype: int64

In [ ]:
Задание 15. Сколько студентов успешно сдали все экзамены?
Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [273]:
df_passed = df["Math_PassStatus"] + df["Reading_PassStatus"] + df["Writing_PassStatus"]
df['OverAll_PassStatus'] = df_passed.apply(lambda sessions: 'P' if sessions == 'PPP' else 'F')
print(df.OverAll_PassStatus.value_counts()[0], "студентов сдали все экзамены")

812 студентов сдали все экзамены

In [ ]:
Задание 16. Переведем баллы в оценки
Система перевода баллов в оценки
больше 90 = A
80-90 = B
70-80 = C
60-70 = D
50-60 = E
меньше 50 = F (Fail)
Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).

In [239]:
def give_mark(mean):
    if mean > 90:
        return 'A'
    elif 80 <= mean <= 90:
        return 'B'
    elif 70 <= mean <= 80:
        return 'C'
    elif 60 <= mean <= 70:
        return 'D'
    elif 50 <= mean <= 60:
        return 'E'
    else:
        return 'F'

df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis = 1).apply(give_mark)

df.Grade.value_counts().sort_values()

A     50
F    103
B    148
E    182
D    256
C    261
Name: Grade, dtype: int64